/** Import */
@import "./vendor/milligram.css"

/** Variables */
/** @see https://github.com/chriskempson/tomorrow-theme */
$background         = #1d1f21
$background_sec     = #373b41
$color              = #c5c8c6
$link               = #6699cc
$border             = lighten($background_sec, 10%)

$tn_background      = #1d1f21
$tn_current_line    = #282a2e
$tn_selection       = #373b41
$tn_foreground      = #c5c8c6
$tn_comment         = #969896
$tn_red             = #cc6666
$tn_orange          = #de935f
$tn_yellow          = #f0c674
$tn_green           = #b5bd68
$tn_aqua            = #8abeb7
$tn_blue            = #81a2be
$tn_purple          = #b294bb

/** General */
body
    background: $background
    color: $color

a
    color: $link

    &:hover,
    &:focus
        color: lighten($link, 10%)
    
    &:active
        color: lighten($link, 20%)

code,
tt
    font-size: 1.1em
    background: $background_sec
    color: $tn_purple

/** Selectors */
#container
    // max-width: 80.0rem
    // margin: auto

#navigation
    width: 14em
    float: left
    // vertical-align: top
    overflow: visible

    h2
        font-size: 1.1em
        text-align: left
        padding: 0.2em
        border-top:1px solid $background_sec
        border-bottom:1px solid $background_sec

    ul
        font-size: 1em
        list-style-type: none
        margin: 1px 1px 10px 1px

    li
        display: block
        margin: 3px 0px 0px 22px
        text-indent: -1em

    li li a
        margin: 0px 3px 0px -1em

#content
    margin-left: 14em
    padding: 1em
    background: $background_sec

#about
    clear: both
    padding: 5px

span.parameter
    font-family: monospace
    
    &:after
        content: ":"
        
span.types
    &:before
        content:"("
    &:after
        content:")"

.type 
    font-weight: bold
    font-style: italic

table.module_list
    border-width: 1px
    border-style: solid
    border-color: $border
    border-collapse: collapse

    & td 
        border-width: 1px
        padding: 3px
        border-style: solid
        border-color: $border

        &.name
            background-color: #f0f0f0
            min-width: 200px
        &.summary
            width: 100%

table.function_list
    border-width: 1px
    border-style: solid
    border-color: $border
    border-collapse: collapse

    & td
        border-width: 1px
        padding: 3px
        border-style: solid
        border-color: $border
        
        &.name
            min-width: 200px
        &.summary
            width: 100%

ul.nowrap
    overflow: auto
    white-space: nowrap

dl.table dt,
dl.function dt
    border-top: 1px solid $border
    padding-top: 1em

dl.table dd,
dl.function dd
    padding-bottom: 1em
    margin: 10px 0 0 20px

dl.table h3,
dl.function h3
    font-size: .95em

/* source */
pre 
    padding: 16px
    background: $tn_background
    color: $tn_foreground
    border-left: none

    .comment
        color: $tn_comment

    .constant
        color: $tn_purple

    .escape
        color: $tn_orange

    .keyword
        color: $tn_purple
        font-weight: bold

    .library
        // color: $tn_purple

    .marker
        color: $tn_selection
        font-weight: bold

    .string
        color: $tn_green

    .number
        color: $tn_orange

    .operator
        color: $tn_aqua
        font-weight: bold

    .preprocessor,
    pre .prepro
        // color: $tn_purple

    .global
        color: $tn_blue

    .user-keyword
        // color: $tn_purple

    .prompt
        // color: $tn_purple

    .url
        color: $tn_comment
        text-decoration: underline